<html>
	<head>
		<title>Quickadd Prototype</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">

		<script src="js/vendor/jquery-1.9.1.js"></script>
		<script src="js/vendor/jquery-ui-1.10.1.custom.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		<script src="js/vendor/underscore.js"></script>
		<script src="js/vendor/backbone.js"></script>
		<script src="js/vendor/backbone.marionette.js"></script>

		<script src="js/app/init.js"></script>
		<script src="js/app/courses.js"></script>
		<script src="js/app/planner.js"></script>
		<script src="js/app/requirements.js"></script>
		<script src="js/app/catalog.js"></script>
		<script src="js/app/utils.js"></script>
		<script src="js/app/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span8 planner" id="planner-region">
					<div class="semester-region" id="fall13"></div>
					<div class="semester-region" id="spr14"></div>
					<div class="semester-region" id="fall14"></div>
					<div class="semester-region" id="spr15"></div>
				</div>
				<div class="span4 requirements-sidebar" id="requirements-region">
				</div>
			</div>

		</div> <!-- .container -->

		<script type="text/html" id="tpl-placed-course">
			<%= course.label %>
		</script>

		<script type="text/html" id="tpl-mandate-slot">
			<%= course.label %>
		</script>

		<script type="text/html" id="tpl-elective-slot">
			+ <em><%= label %></em>
		</script>

		<script type="text/html" id="tpl-requirement-tracker">
			<h4 class="requirement-group-heading"><%= title %></h4>
			<ul class="requirement-slot-list"></ul>
		</script>

		<script type="text/html" id="tpl-semester-popup">
			<h4>Available:</h4>
			<form class="form-horizontal semester-choice">
				<button value="fall13">Fall 2013</button>
				<button value="spr14">Spring 2014</button>
				<button value="fall14">Fall 2014</button>
				<button value="spr15">Spring 2015</button>
			</form>
		</script>

		<script type="text/html" id="tpl-catalog-popup">
			<form class="form-horizontal">
				<input type="search" class="search-query"/>
				<select size="5"></select>
				<button>Add to Planner</button>
			</form>
		</script>

	</body>
</html>