* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.popover-mockup {
	border: 1px solid;
}

#planner-region > div {
	border: 1px solid;
	padding: 1em;
	background-color: #eee;
}

#planner-region > div:hover {
	background-color: #fff;
}

#planner-region li {
	border: 1px solid;
	background-color: #999;
}

#planner-region li:hover {
	background-color: #aaa;
}

#sidebar-region ul {
	list-style: none;
	margin-left: 0;
}

#sidebar-region li,
#planner-region li {
	list-style: none;
	display: inline-block;
	min-width: 85px;
	text-align: center;
	margin: 6px;
	padding: 2px;
}

.requirement-satisfied,
.requirement-unsatisfied,
.elective-satisfied,
.elective-unsatisfied,
.placed-course-list > div,
tr {
	cursor: pointer;
}

.requirement-satisfied,
.requirement-unsatisfied,
.elective-satisfied,
.elective-unsatisfied {
    border: 1px solid;
}

.requirement-satisfied,
.elective-satisfied {
    background-color: #999;
}

.requirement-satisfied:hover,
.elective-satisfied:hover {
    background-color: #aaa;
}

.requirement-unsatisfied {
    background-color: #ddd;
}

.elective-unsatisfied:hover {
	color: #888;
}

.requirement-unsatisfied:hover {
    background-color: #eee;
}

#quickadd-region {
	height: 400px;
	overflow: auto;
	border: 2px solid;
	padding: 1em;
}

.popover-title {
	background-color: #e3e;
	font-size: 1.5em;
	font-weight: bold;
}

.popover-content {
	border: 1px solid #888;
}

.course-code {
	font-size: 1.25em;
	font-weight: bold;
}

.search-query {
	width: 100%;
}

.popover {
	max-width: 700px;
}

.requirements-sidebar {
	border: 1px solid #bbb;
	padding: 10px;
}

.requirements-group {
	padding-bottom: 16px;
	border-bottom: 1px solid;
}

.requirements-group:last-child {
	border-bottom: 0;
}

.requirement-group-heading {
	font-size: 18px;
	margin: 6px 0;
}

.planner-region {
	width: 100%;
}

.semester {
	height: 100px;
	margin-bottom: 20px;
	background-color: #ddd;
	border: 1px solid;
	overflow: hidden;
}

.semester-heading {
	font-size: 14px;
	margin: 0.25em 0 0 0.5em;
	display: inline-block;
}

.course-marker {
	text-align: center;
	display: inline-block;
	margin: 10px;
	min-width: 90px;
	border: 1px solid;
	padding: 5px;
	cursor: move;
	background-color: #bbb;
}

.course-slot {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	margin: 5px;
	min-width: 90px;
	border: 1px solid;
	padding: 5px;
}

.requirement-slot-list {
	margin: 0;
}

.drag-placeholder {
	opacity: .33;
}

.prereq {
	background-color: #c99;
}

.course-slot-claimed {
	cursor: auto;
	background-color: #bbb;
	opacity: .33;
}

.course-slot-open {
	cursor: pointer;
	background-color: #fff;
}

.semester-choice button {
	display: block;
	width: 125px;
	margin: 4px 0;
}


label[for="semester-templates"] {
	display: inline-block;
}

.catalog select {
	width: 100%;
	margin-top: 0.25em;
	margin-bottom: 1em;
}

.course-description {
	border: 1px solid;
}

.course-description > .course {
	float: left;
	margin: 8px;
}

.course-name {
	font-size: 18px;
	line-height: 1.25em;
	margin: 8px;
}

.course-description dl {
	margin: 20px;
}

.course-description dd {
	margin-bottom: 1em;
}