* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.semester-region li {
	height: 50px;
	min-width: 90px;
	list-style: none;
	display: inline-block;
	margin: 8px;
	padding: 4px;
	text-align: center;
}

#planner-region {
	margin-top: 1em;
}

#sidebar-region {
	margin-top: 1em;
}

.semester {
	border: 1px solid;
	margin-bottom: 20px;
	background-color: #eee;
	overflow: hidden;
	height: 100px;
}

.semester:hover {
	background-color: #fff;
}

.semester-heading {
	font-size: 16px;
	line-height: 16px;
	margin: 0.25em;
	display: inline-block;
}

.placed-course-list {
	margin: 0 0 10px 15px;
}

.placed-course-list li {
	border: 1px solid;
	background-color: #999;
}

.placed-course-list li:hover {
	background-color: #aaa;
}

.placed-course-list li,
td {
	cursor: pointer;
}

.numcx {
	display: none;
}

.requirement-slot {
    border: 1px solid;
    font-size: 14px;
    line-height: 14px;
    padding: 1px;
}

.mandate-satisfied,
.elective-satisfied {
    background-color: #999;
}

.mandate-satisfied:hover,
.elective-satisfied:hover {
    background-color: #aaa;
}

.mandate-unsatisfied {
    background-color: #ddd;
}

.elective-unsatisfied:hover {
	color: #888;
}

.mandate-unsatisfied:hover {
    background-color: #eee;
}

.tbl-catalog-filter {
	position: fixed;
}

.popover-title {
	padding: 16px;
	font-size: 1.5em;
	font-weight: bold;
}

.popover-content {
	width: 460px;
	height: 250px;
	overflow: auto;
	padding: 1em;
}

.term-fixed {
	font-size: 1.25em;
}

.course-code {
	font-size: 1.25em;
	font-weight: bold;
}

.search-query {
	width: 100%;
}

.popover {
	max-width: 700px;
}

.requirements-sidebar {
	border: 1px solid #bbb;
	padding: 10px;
}

.requirements-group {
	padding: 0.5em 0;
	border-bottom: 1px solid;
}

.requirements-group:last-child {
	border-bottom: 0;
}

.requirements-group ul {
	margin-left: 0;
}

.requirements-group li {
	list-style: none;
	display: inline-block;
	min-width: 85px;
	text-align: center;
	margin: 6px;
	padding: 2px;
	cursor: pointer;
}

.btn-group-templates {
	min-width: 800px;
}

.requirements-heading {
	font-size: 16px;
	margin: 6px 0;
	line-height: 18px;
}

.requirements-heading-description {
	font-size: 13px;
}

.student-stats {
	text-transform: uppercase;
}

.student-stats .row {
	margin-bottom: 0.5em;
}

.student-info-name {
	font-size: 20px;
}

.student-info-major {
	font-size: 16px;
	color: #999;
}

.student-info {
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
}

.header-label {
	text-align: right;
	color: #666;
	font-weight: bold;
}

.header-value {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	padding-left: 2px;
}

.courseinfo-options {
	float: left;
}

.courseinfo-action {
	float: right;
}