* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.semester-region li {
	border: 1px solid;
	background-color: #999;
}

.semester-region li:hover {
	background-color: #aaa;
}

.sidebar-region ul {
	list-style: none;
	margin-left: 0;
}

#sidebar-region li,
.semester-region li {
	list-style: none;
	display: inline-block;
	min-width: 85px;
	text-align: center;
	margin: 6px;
	padding: 2px;
}

.semester {
	border: 1px solid;
	padding: 1em;
	height: 100px;
	margin-bottom: 20px;
	background-color: #eee;
	overflow: hidden;
	height: 150px;
}

.semester:hover {
	background-color: #fff;
}

.semester-heading {
	font-size: 14px;
	margin: 0.25em 0 0 0.5em;
	display: inline-block;
}

.requirement-satisfied,
.requirement-unsatisfied,
.elective-satisfied,
.elective-unsatisfied,
.placed-course-list > div,
tr {
	cursor: pointer;
}

.requirement-satisfied,
.requirement-unsatisfied,
.elective-satisfied,
.elective-unsatisfied {
    border: 1px solid;
}

.requirement-satisfied,
.elective-satisfied {
    background-color: #999;
}

.requirement-satisfied:hover,
.elective-satisfied:hover {
    background-color: #aaa;
}

.requirement-unsatisfied {
    background-color: #ddd;
}

.elective-unsatisfied:hover {
	color: #888;
}

.requirement-unsatisfied:hover {
    background-color: #eee;
}

.popover-title {
	padding: 16px;
	font-size: 1.5em;
	font-weight: bold;
}

.popover-content {
	width: 460px;
	height: 300px;
	overflow: hidden;
	padding: 8px;
}

.course-code {
	font-size: 1.25em;
	font-weight: bold;
}

.search-query {
	width: 100%;
}

.popover {
	max-width: 700px;
}

.requirements-sidebar {
	border: 1px solid #bbb;
	padding: 10px;
}

.requirements-group {
	padding-bottom: 16px;
	border-bottom: 1px solid;
}

.requirements-group:last-child {
	border-bottom: 0;
}

.requirement-group-heading {
	font-size: 18px;
	margin: 6px 0;
}
