<html>
	<head>
		<title>Quickadd Prototype</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="js/vendor/jquery-1.9.1.js"></script>
		<script src="js/vendor/jquery-ui-1.10.1.custom.js"></script>
		<script src="js/vendor/ttable.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		<script src="js/vendor/underscore.js"></script>
		<script src="js/vendor/backbone.js"></script>
		<script src="js/vendor/backbone.marionette.js"></script>

		<script src="js/app/init.js"></script>
		<script src="js/app/interactions/add_mandate.js"></script>
		<script src="js/app/interactions/add_elective.js"></script>
		<script src="js/app/interactions/replace_elective.js"></script>
		<script src="js/app/interactions/replace_placed.js"></script>
		<script src="js/app/interactions/add_to_semester.js"></script>
		<script src="js/app/views.js"></script>
		<script src="js/app/main.js"></script>
	</head>
	<body>
		<header class="container">
			<div class="row">
				<div class="student-stats span8">
					<div class="row">
						<div class="span3 header-label">Credits Taken</div>
						<div class="span1 header-value">124</div>
						<div class="span3 header-label">Average Credit Load</div>
						<div class="span1 header-value">14.4</div>
					</div>
					<div class="row">
						<div class="span3 header-label">Credits Planned</div>
						<div class="span1 header-value">43</div>
						<div class="span3 header-label">In Major GPA</div>
						<div class="span1 header-value">3.43</div>
					</div>
					<div class="row">
						<div class="span3 header-label">Credits for Graduation</div>
						<div class="span1 header-value">56</div>
						<div class="span3 header-label">GPA</div>
						<div class="span1 header-value">3.78</div>
					</div>
				</div>
				<div class="student-info span4">
					<p class="student-info-name">Firstname Lastname</p>
					<p class="student-info-major">Mechanical Engineering</p>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="span8" id="planner-region">
					<div id="semester-region-1" class="semester-region"></div>
					<div id="semester-region-2" class="semester-region"></div>
					<div id="semester-region-3" class="semester-region"></div>
					<div id="semester-region-4" class="semester-region"></div>
					<div id="semester-region-5" class="semester-region"></div>
					<div id="semester-region-6" class="semester-region"></div>
					<div id="semester-region-7" class="semester-region"></div>
					<div id="semester-region-8" class="semester-region"></div>
				</div>
				<div class="span4" id="sidebar-region">
					<div class="btn-group btn-group-templates">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="dropdown-label">Initialize Using Template</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a class="btn-template" id="btn-template-blank" href="#">Blank</a></li>
							<li><a class="btn-template" id="btn-template-1" href="#">Template 1</a></li>
						</ul>
					</div>
					<div class="requirements-group">
						<h3 class="requirements-heading">Lower Divison GE Requirements</h3>
						<div id="active-elective-group"></div>
					</div>
					<div class="requirements-group">
						<h3 class="requirements-heading">Lower Divison Major Requirements</h3>
						<div id="active-mandate-group"></div>
					</div>
					<div class="requirements-group">
						<h3 class="requirements-heading">Upper Division GE Requirements</h3>
						<p class="requirements-heading-description">May Substitute a course in any high-level programming language with department approval</p>
						<div id="inactive-group-1"></div>
					</div>
					<div class="requirements-group">
						<h3 class="requirements-heading">Upper Division Major Requirements</h3>
						<div id="inactive-group-2"></div>
					</div>
					<div class="requirements-group">
						<h3 class="requirements-heading">University Requirements</h3>
						<div id="inactive-group-3"></div>
					</div>
					<div class="requirements-group">
						<h3 class="requirements-heading">Senior Design Requirements</h3>
						<p class="requirements-heading-description">The Senior Design requirement is a 3 course series that must be completed sequentially. The first course, 497A, is only offered during the Fall Quarter.</p>
						<div id="inactive-group-4"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span8">
				<div id="quickadd-region"></div>
			</div>
		</div> <!-- .container -->

		<script type="text/html" id="tpl-placed-course">
			<%= course.code %>
		</script>

		<script type="text/html" id="tpl-mandate-slot">
			<%= course.code %>
		</script>

		<script type="text/html" id="tpl-elective-slot">
			<% if (!_.isEmpty(course)) { %>
				<%= course.code %>
			<% } else { %>
				+ <em><%= label %></em>
			<% } %>
		</script>

		<script type="text/html" id="tpl-semester">
			<h3 class="semester-heading"><%= label %></h3>
			<ul class="placed-course-list"></ul>
		</script>

		<script type="text/html" id="tpl-quick-catalog-blocke">
			<input id="tbl-catalog-filter" class="input-filter search-query" placeholder="Enter text to filter"/>
			<div class="filtered-results">
				<table id="tbl-catalog" class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>Semester</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>REQ 101</td>
							<td>Intro to Something</td>
							<td>Fall</td>
							<td>2013</td>
						</tr>
						<tr>
							<td>REQ 102</td>
							<td>Intermediate Something</td>
							<td>Spring</td>
							<td>2014</td>
						</tr>
						<tr>
							<td>ELEC 103</td>
							<td>Basketweaving I</td>
							<td>Fall</td>
							<td>2014</td>
						</tr>
						<tr>
							<td>ELEC 104</td>
							<td>Basketweaving II</td>
							<td>Fall</td>
							<td>2013</td>
						</tr>
						<tr>
							<td>ELEC 105</td>
							<td>Advanced Basketweaving Seminar</td>
							<td>Fall</td>
							<td>2013</td>
						</tr>
					</tbody>
				</table>
			</div>
		</script>

		<script type="text/html" id="tpl-quick-catalog-fall13">
			<input id="tbl-catalog-filter" class="input-filter search-query" placeholder="Enter text to filter"/>
			<div class="filtered-results">
				<table id="tbl-catalog" class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>Satisfies</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>REQ 101</td>
							<td>Intro to Something</td>
							<td>Mandate</td>
						</tr>
						<tr>
							<td>REQ 102</td>
							<td>Intermediate Something</td>
							<td>Mandate</td>
						</tr>
						<tr>
							<td>ELEC 103</td>
							<td>Basketweaving I</td>
							<td>Block E</td>
						</tr>
						<tr>
							<td>ELEC 104</td>
							<td>Basketweaving II</td>
							<td>Block E</td>
						</tr>
						<tr>
							<td>ELEC 105</td>
							<td>Advanced Basketweaving Seminar</td>
							<td>Block E, Block F</td>
						</tr>
					</tbody>
				</table>
			</div>
		</script>

		<script type="text/html" id="tpl-course-info">
			<form class="clearfix">
				<div class="courseinfo-options">
					<% if(terms.length === 1) { %>
						<p class="term-fixed">Term: <%= terms[0].label %></p>
					<% } else { %>
						<label for="term">Term: </label>
						<select name="term" id="term">
							<% _.each(terms, function(term){ %>
								<option <%= term.selected ? 'selected' : ''%>><%= term.label %></option>
							<% }) %>
						</select>
					<% } %>

					<% if(!_.isEmpty(satisfies)) { %>
					<label for="satisfies">Use to satisfy: </label>
					<div>
						<% _.each(satisfies, function(elec) { %>
							<input type="checkbox"
								<%= elec.checked ? 'checked' : '' %>
								<%= elec.fixed ? 'disabled' : '' %>
								name="satisfies"/> <%= elec.label %>
						<% }) %>
					</div>
					<% } %>
				</div>
					<div class="courseinfo-action">
					<input class="btn btn-large" type="submit" class="btn" value="<%= buttonText %>" />
				</div>
			</form>

			<hr />
			<div class="course-description">
				<h3 class="course-name">English for Engineers</h3>
				<dl>
					<dt>Description</dt>
					<dd>University structure, policies, and procedures, resources available, and skills necessary for success. Introduction to profession of engineering; engineering, design process; communication skills in engineering. Laboratory 3 hours. Graded CR/NC.</dd>
					<dt>Learning Outcome</dt>
					<dd>Upon successful completion of the course, each student should be able to understand and apply concepts and skills that will enhance their success and a student and as an engineer.</dd>
					<dt>Text</dt>
					<dd>Landis, Raymond B. (2007). Studying Engineering: A Road Map to a Rewarding Career (3rd Ed.) Los Angeles: Discovery Press.</dd>
					<dt>Sections</dt>
					<dd></dd>
					<dt>Equivalencies</dt>
					<dd></dd>
					<dt>Pre-requirements</dt>
					<dd></dd>
					<dt>Co-requirements</dt>
					<dd></dd>
					<dt>Requirements for</dt>
					<dd></dd>
				</dl>
			</div> <!-- .course-description -->
		</script>
	</body>
</html>